<div *ngIf="user">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let p of user.photos">
      <img src="{{p.url}}">
    </ion-slide>
  </ion-slides>
  <h1>{{user.firstName}} {{user.lastName}}</h1>
  <h5>{{user.dob | toAge}}</h5>
  <span>{{user.description}}</span>
  <br/>
  <ion-button (click)="edit()">Edit Profile</ion-button>
  <!-- <ion-card *ngFor="let e of user.events">
    <img src="e.avatar">
    <ion-card-header>
      <ion-card-title>{{e.name}}</ion-card-title>
      <ion-card-subtitle>{{e.date}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card> -->
</div>