<div *ngIf="!isLoading">

  <ion-card class="card" [@cardAnimator]="animationState" (@cardAnimator.done)="resetAnimationState($event)"
  (swipeleft)='animate("swipeleft")' (swiperight)='animate("swiperight")'>
  <img src={{cards[index].pic}}>
  <ion-card-header>
    <ion-card-title>{{cards[index].name}}</ion-card-title>
    <ion-card-subtitle>{{cards[index].age}}</ion-card-subtitle>
  </ion-card-header>
</ion-card>

  <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)='animate("swipeleft")'>
          <ion-icon slot="icon-only" name="caret-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-buttons class="ion-justify-content-center">
        <ion-button (click)="chat()">
          <ion-icon slot="icon-only" name="chatbubbles"></ion-icon>
        </ion-button>
      </ion-buttons>
     
      <ion-buttons slot="end">
        <ion-button (click)='animate("swiperight")'>
          <ion-icon slot="icon-only" name="caret-forward-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-footer>

</div>

<div *ngIf="isLoading">
  <ion-progress-bar class="progress-bar" type="indeterminate"></ion-progress-bar>
</div>