.header {
    margin-bottom: 5px;
}

.post-body {
    font-size: 14px;
}

.description {
    padding: 5px;
}

.spacer {
    height: 10px;
    background-color: black;
}

.actions {
    div {
        display: inline-block;
        width: 50%;
    }
    div:first-child {
        border-right: 1px solid black;
    }
}