<ion-header>
  <ion-toolbar>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let n of notifications;let i = index">
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="delete(i)">
          Delete
        </ion-item-option>
      </ion-item-options>

      <ion-item routerLink="{{n.navUrl}}" [detail]="false" lines="full">
        <ion-thumbnail slot="start">
          <ion-img src={{n.imageUrl}}></ion-img>
        </ion-thumbnail>
        <ion-label>
          <b>{{n.title}}</b>
          <p>{{n.body}}</p>
          <p>{{timeToNow(n.timestamp)}}</p>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingText="Loading...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>