<ion-content>

    <div class="background">
      <span class="flex-text">FLEX</span>
      <div class="login-inputs">
        <form [formGroup]="loginForm" (ngSubmit)="login($event)">
          <ion-item-group >
            <ion-item lines="none" class="ion-margin-bottom">
              <ion-input formControlName="username" required autofocus placeholder="Email"></ion-input>
              <!-- <ion-label color="danger" *ngIf="loginForm.get('username').dirty && loginForm.get('username').hasError('email')">
                Email is not valid</ion-label> -->
            </ion-item>
            <ion-item>
              <ion-input type="password" formControlName="pass" required placeholder="Password"></ion-input>
              <!-- <ion-label color="danger" *ngIf="loginForm.get('pass').dirty && loginForm.get('pass').hasError('minlength')">
                Minimum 6 characters</ion-label> -->
            </ion-item>
          </ion-item-group>
          
          <!-- <ion-item>
            <ion-label>Remember me</ion-label>
            <ion-toggle formControlName="rememberMe"></ion-toggle>
          </ion-item> -->
        </form>
      </div>

      <div class="login-btns">
        <ion-button id="login-btn" size="small" [disabled]="loginForm.invalid" (click)="login($event)">Login</ion-button>
        <div class="social-login-btns">
          <ion-button id="google-btn" size="small" (click)="signIn('Google')">
            <ion-icon name="logo-google" size="small" slot="start"></ion-icon>
            Sign in with Google
          </ion-button>
          <ion-button color="tertiary" size="small" (click)="signIn('Facebook')">
            <ion-icon name="logo-facebook" size="small" slot="start"></ion-icon>
            Sign in with Facebook
          </ion-button>
        </div>
      </div>

    </div>
    
</ion-content>