<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Messages
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content (ionScroll)="scrollHandler($event)" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Messages</ion-title>
      <ion-buttons slot="end">
        <ion-icon slot="icon-only" class="ion-padding-end" name="add-circle-outline" (click)="createRoom()">
        </ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="chatRooms.length > 0;else loading">
    
    <ion-list >
      <ion-item-sliding routerLink="rooms/{{room.id}}" [state]="room" *ngFor="let room of chatRooms;let i = index">
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="delete(i)">Delete</ion-item-option>
        </ion-item-options>
        <ion-item>
          <ion-avatar slot="start">
            <img src={{getRoomAvatar(room)}} />
          </ion-avatar>
          <ion-label>
            <b>{{getRoomName(room)}}</b>
            <p>{{chatRooms[i].createdOn.toDate() | date:'short'}}</p>
          </ion-label>
          <ion-badge slot="end" color="light">{{room.numOfMessages}}</ion-badge>
        </ion-item>
  
      </ion-item-sliding>
    </ion-list>
  
    <div [hidden]="!isLoadingOlderMessages" class="ion-text-center ion-padding-top">
      <ion-spinner></ion-spinner>
    </div>

  </div>

</ion-content>

<ng-template #loading>
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
</ng-template>