<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="save()">Save</ion-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let p of user.photos;let i = index">
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="delete(i)">Delete</ion-item-option>
      </ion-item-options>
      <ion-item>
        <img width="64px" height="64px" src={{p.url}}>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <br />
  <input type="file" (change)="fileChange($event.target.files)">

  <div *ngIf="percentage$ | async as pct">
    <ion-progress-bar type="determinate" [value]="pct" max="100"></ion-progress-bar>
    {{ pct | number }}%
  </div>

  <div *ngIf="user">
    <ion-textarea [(ngModel)]="user.description"></ion-textarea>
  </div>
</ion-content>