<ion-content fullscreen>
  <ion-slides pager="true">

    <ion-slide>
      <div class="background" style="background-image: url('assets/img/splash1.jpg');">
        <span class="flex-text">FLEX</span>
        <span class="description">Easily connect with new people around the events you go to</span>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="background" style="background-image: url('assets/img/splash2.jpg');">
        <span class="flex-text">FLEX</span>
        <span class="description">Connect with friends and rivals</span>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="background" style="background-image: url('assets/img/splash3.jpg');">
        <span class="flex-text">FLEX</span>
        <span class="description">Make new friends, share the same passion</span>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="background" style="background-image: url('assets/img/splash4.jpg');">
        <span class="flex-text">FLEX</span>
        <ion-button routerLink="/auth/login" id="getStarted" size="small" color="success">Get Started</ion-button>
        <span class="description">All your favorite endurance events in one app</span>
      </div>
      
    </ion-slide>

  </ion-slides>
</ion-content>
